# Dependencias
node_modules/
db/

# Archivos de producción / Compilación
build/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración local de editores (opcional pero recomendado)
.vscode/
.idea/